<h1>Thank you,</h1>

<div>to all the helpers and testers by creating this website.</div>

<h3>Special credits for the nice assets to Craftpix:</h3>
<a href="https://craftpix.net/freebies/free-golem-tiny-style-2d-character-sprites/" target="_blank">Golem</a>
<a href="https://craftpix.net/freebies/free-minotaur-tiny-style-2d-sprites/" target="_blank">Mintaur</a>
<a href="https://craftpix.net/freebies/free-wraith-tiny-style-2d-sprites/" target="_blank">Wraith</a>
<a href="https://craftpix.net/freebies/free-golems-chibi-2d-game-sprites/" target="_blank">Golem 2</a>
<a href="https://craftpix.net/freebies/free-satyr-tiny-style-2d-sprites/" target="_blank">Satyr</a>
<a href="https://craftpix.net/freebies/free-orc-ogre-and-goblin-chibi-2d-game-sprites/" target="_blank">Orc</a>
<a href="https://craftpix.net/freebies/free-fallen-angel-chibi-2d-game-sprites/" target="_blank">Fallen</a>
<a href="https://craftpix.net/freebies/free-reaper-man-chibi-2d-game-sprites/" target="_blank">Reaper Man</a>

<div>Sincerely, Florian Plesker</div>

<a href="/">
    <button mat-flat-button>Back to the Landing Page</button>
</a>
